# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-09-15 13:38:24.863847: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
df = pd.read_csv(file_path)

# Review the DataFrame
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
print(df.dtypes)

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = df["credit_ranking"].values

# Display a sample of y
y[:5]

array([5, 5, 5, 6, 5])

In [5]:
# Define features set X by selecting all columns but credit_ranking
X = df.drop(columns=["credit_ranking"])

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model
number_input_features = 11

# Review the number of features
number_input_features

11

In [9]:
# Define the number of neurons in the output layer
number_classes = 1

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

6

In [11]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

3

In [12]:
# Create the Sequential model instance
nn = Sequential()

In [13]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [14]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

In [15]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_classes, activation="relu"))

In [16]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [17]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [18]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 981us/step - loss: 25.9547 - mse: 25.9547
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 21.7861 - mse: 21.7861
Epoch 3/50
38/38 [==============================] - 0s 1ms/step - loss: 18.0731 - mse: 18.0731
Epoch 4/50
38/38 [==============================] - 0s 978us/step - loss: 15.0635 - mse: 15.0635
Epoch 5/50
38/38 [==============================] - 0s 982us/step - loss: 12.5489 - mse: 12.5489
Epoch 6/50
38/38 [==============================] - 0s 977us/step - loss: 10.3855 - mse: 10.3855
Epoch 7/50
38/38 [==============================] - 0s 973us/step - loss: 8.5880 - mse: 8.5880
Epoch 8/50
38/38 [==============================] - 0s 964us/step - loss: 7.1360 - mse: 7.1360
Epoch 9/50
38/38 [==============================] - 0s 973us/step - loss: 6.0097 - mse: 6.0097
Epoch 10/50
38/38 [==============================] - 0s 959us/step - loss: 5.1145 - mse: 5.1145
Epoch 11/50
38/38 [==============================] - 0s 990us/step - loss: 4.4535 - mse: 4.4535
Epoch 12/50
38/38 [==============================] - 0s 967us/step - loss: 3.9317 - mse: 3.9317
Epoch 13/50
38/38 [==============================] - 0s 973us/step - loss: 3.5302 - mse: 3.5302
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 3.1974 - mse: 3.1974
Epoch 15/50
38/38 [==============================] - 0s 992us/step - loss: 2.9193 - mse: 2.9193
Epoch 16/50
38/38 [==============================] - 0s 982us/step - loss: 2.6733 - mse: 2.6733
Epoch 17/50
38/38 [==============================] - 0s 995us/step - loss: 2.4545 - mse: 2.4545
Epoch 18/50
38/38 [==============================] - 0s 990us/step - loss: 2.2666 - mse: 2.2666
Epoch 19/50
38/38 [==============================] - 0s 992us/step - loss: 2.0865 - mse: 2.0865
Epoch 20/50
38/38 [==============================] - 0s 992us/step - loss: 1.9320 - mse: 1.9320
Epoch 21/50
38/38 [==============================] - 0s 972us/step - loss: 1.7923 - mse: 1.7923
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 1.6632 - mse: 1.6632
Epoch 23/50
38/38 [==============================] - 0s 980us/step - loss: 1.5487 - mse: 1.5487
Epoch 24/50
38/38 [==============================] - 0s 980us/step - loss: 1.4445 - mse: 1.4445
Epoch 25/50
38/38 [==============================] - 0s 992us/step - loss: 1.3487 - mse: 1.3487
Epoch 26/50
38/38 [==============================] - 0s 960us/step - loss: 1.2626 - mse: 1.2626
Epoch 27/50
38/38 [==============================] - 0s 994us/step - loss: 1.1862 - mse: 1.1862
Epoch 28/50
38/38 [==============================] - 0s 995us/step - loss: 1.1201 - mse: 1.1201
Epoch 29/50
38/38 [==============================] - 0s 966us/step - loss: 1.0587 - mse: 1.0587
Epoch 30/50
38/38 [==============================] - 0s 972us/step - loss: 1.0043 - mse: 1.0043
Epoch 31/50
38/38 [==============================] - 0s 957us/step - loss: 0.9522 - mse: 0.9522
Epoch 32/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9055 - mse: 0.9055
Epoch 33/50
38/38 [==============================] - 0s 973us/step - loss: 0.8626 - mse: 0.8626
Epoch 34/50
38/38 [==============================] - 0s 980us/step - loss: 0.8266 - mse: 0.8266
Epoch 35/50
38/38 [==============================] - 0s 978us/step - loss: 0.7904 - mse: 0.7904
Epoch 36/50
38/38 [==============================] - 0s 991us/step - loss: 0.7611 - mse: 0.7611
Epoch 37/50
38/38 [==============================] - 0s 989us/step - loss: 0.7323 - mse: 0.7323
Epoch 38/50
38/38 [==============================] - 0s 971us/step - loss: 0.7093 - mse: 0.7093
Epoch 39/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6871 - mse: 0.6871
Epoch 40/50
38/38 [==============================] - 0s 972us/step - loss: 0.6653 - mse: 0.6653
Epoch 41/50
38/38 [==============================] - 0s 995us/step - loss: 0.6473 - mse: 0.6473
Epoch 42/50
38/38 [==============================] - 0s 948us/step - loss: 0.6300 - mse: 0.6300
Epoch 43/50
38/38 [==============================] - 0s 978us/step - loss: 0.6164 - mse: 0.6164
Epoch 44/50
38/38 [==============================] - 0s 986us/step - loss: 0.6039 - mse: 0.6039
Epoch 45/50
38/38 [==============================] - 0s 974us/step - loss: 0.5929 - mse: 0.5929
Epoch 46/50
38/38 [==============================] - 0s 967us/step - loss: 0.5813 - mse: 0.5813
Epoch 47/50
38/38 [==============================] - 0s 989us/step - loss: 0.5714 - mse: 0.5714
Epoch 48/50
38/38 [==============================] - 0s 962us/step - loss: 0.5616 - mse: 0.5616
Epoch 49/50
38/38 [==============================] - 0s 996us/step - loss: 0.5531 - mse: 0.5531
Epoch 50/50
38/38 [==============================] - 0s 962us/step - loss: 0.5446 - mse: 0.5446

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [19]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 11.5517 - mse: 11.5517 - 130ms/epoch - 10ms/step
Loss: 11.551673889160156, Accuracy: 11.551673889160156

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [20]:
# Set the model's file path
file_path = Path('saved_models/student_loans.h5')

# Export your model to a HDF5 file
nn.save(file_path)

/Users/tomjanis/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [21]:
# Set the model's file path
from tensorflow.keras.models import load_model

# Load the model to a new object
nn_loaded = load_model(file_path)

### Step 2: Make predictions on the testing data.

In [22]:
# Make predictions on the testing data
predictions = nn_loaded.predict(X_test_scaled).round().astype("int32")

13/13 [==============================] - 0s 848us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [23]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [24]:
# Display sample data
results.head(10)

   predictions  actual
0            6       5
1            5       6
2            6       6
3            6       6
4            7       6
5            6       6
6            6       6
7            4       5
8            5       5
9            5       5